.wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
}


.users {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    min-height: 40px;
    font-size: 10px;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
    background: white;
    cursor: pointer;
    transition: background .5s;
    &:hover {
        background: black;
        color: white;
    }
}

.data{
    width: 100%;
    display: flex;
}

.userName {
    width: 150px;
}

.email {
    width: 250px;
}

.phone {
    width: 100px;
}

.regdate {
    width: 100px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_block {
    display: flex;
}