.users {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 15px;
}

.user {
    display: flex;
    padding-right: 20px;
    padding-left: 10px;
    min-height: 40px;
    font-size: 10px;
    align-items: center;
    background: white;
    cursor: pointer;
    transition: background .5s;
    &:hover {
        background: black;
        color: white;
    }
}

.userName {
    width: 150px;
}

.email {
    width: 400px;
}

.phone {
    width: 100px;
}