.wrapper {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding-top: 40px;
}


.users {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.user {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    min-height: 40px;
    font-size: 10px;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
    background: white;
    cursor: pointer;
    transition: background .3s;
    &:hover {
        background: black;
        color: white;
        .button_block a{ 
                    background:black;
                    color: white
        }
    }
}

.data{
    width: 100%;
    display: flex;
}

.userName {
    width: 150px;
}

.email {
    width: 250px;
}

.phone {
    width: 100px;
}

.regdate {
    width: 100px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button_block {
    display: flex;
    a {
        transition: background .3s;
    }
}

@media screen and (max-width: 810px) {
    .filter {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .search {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }
    .wrapper {
        padding: 5px;
        justify-content: flex-start;
    }
    .users {
        max-width: 100%;
    }
    .user {
        max-width: 100%;
        border: 1px solid black;
        padding: 0;
        box-sizing: border-box;
    }
    .data {
        flex-direction: column;
        width: 100%;
    }
    .userName, .email, .phone, .regdate, .status {
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 100%;
        overflow:hidden;
        text-overflow: ellipsis
    }

    .button_block {
        flex-direction: column;
        width: 100%;
    }
}