.button {
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    user-select: none;   
    transition: background .3s,
                border .3s;
    &:hover {
        color: white;
        background: black;
        border-color: white;
    }
    &--submit {
        align-self: flex-end;
        justify-self: flex-end;
        height: 20px;
        width: 100px;
    }
  }