.input{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 30px 5px 0;
    border-bottom: 1px solid black;
     p {
       display: flex;
       align-items: center;
     }
  }
  
  .input_title{
    display: flex;
    width: 100px;
    user-select: none;
    margin: 0;
  }
  
  .input_header {
    display: flex;
    flex: 1;
    justify-self: flex-end;
    height: 20px;
    background-color: white;
    font-size: 10px;
    padding-left: 15px;
    outline: none;
    border: 1px solid transparent;
    box-sizing: border-box
  }

  .input_search {
    justify-content: flex-start;
  }

  @media screen and (max-width: 990px){
    .input {
      flex-direction: column;
      min-height: 40px;
    }
    .input_title{
      min-width: 20%;
    }
    .input_header{
      width: 100%;
      padding-left: 0;
    }
  }
