.input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 30px 5px 0;
    border-bottom: 1px solid black;
  }
  
  .input_title{
    display: flex;
    max-width: 100px;
    user-select: none;
    margin: 0;
  }
  
  .input_header {
    display: flex;
    flex: 1;
    justify-self: flex-end;
    height: 20px;
    width: 200px;
    background-color: white;
    font-size: 10px;
    padding-left: 15px;
    outline: none;
    border: 1px solid transparent;
    box-sizing: border-box
  }